# Database Configuration
MONGO_DATABASE=mini-twitter
MONGO_USER=user
MONGO_PASSWORD=1234

# Application Configuration
APP_NAME=mini-twitter
DB_HOST=localhost
DB_PORT=27017

# Mongo Express Configuration
MONGO_EXPRESS_PORT=8091
