# Database Configuration
MYSQL_DATABASE=mini-twitter
MYSQL_USER=user
MYSQL_PASSWORD=1234
MYSQL_ROOT_PASSWORD=1234

# Application Configuration
APP_NAME=mini-twitter
DB_HOST=localhost
DB_PORT=3306

# PHPMyAdmin Configuration
PHPMYADMIN_PORT=8091
